<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Frontend Assessment</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<!-- Fontawesome -->
<link rel="stylesheet" href="dist/css/fontawesome.css" media="all"/>

<!-- Custom Stylesheet -->
<link rel="stylesheet" href="dist/css/style.min.css" media="all"/>
<script src="dist/js/lib/modernizr-2.8.3.min.js"></script>
<script src="dist/js/pace.min.js"></script>
</head>

<body>
<section id="main-container">
	<header></header>
	<section id="main-wrapper" class="z-index exercise2">

		<!-- Tabs -->
		<div class="container mt-5 mb-5 d-none d-md-block">
			<div class="tab_list">
				<div class="tab">
					<div class="tab__nav">
						<div class="tab__header" v-for="(post, i) in posts" :key="post.title" :class="{ 'active': i === 0 }" v-on:click="method_1($event, i)">
							<h2 v-html="post.title"></h2>
						</div>
					</div>
					<div class="tab__panel">
						<div class="tab__content" v-for="(post, i) in posts" :key="post.content" :class="{ 'active': i === 0 }">
							<div v-html="post.content"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- accordion -->
		<div class="container mt-5 mb-5 d-block d-md-none">
			<div class="accordion">
				<div class="accordion__list" v-for="(post, index) in posts" :key="post.title" :class="{ 'active': index === 0 }" v-on:click="method_2($event, index)">
					<h2 class="accordion__header">
						<span v-html="post.title"></span>
						<i class="fas fa-chevron-down"></i>
					</h2>
					<div class="accordion__panel">
						<div class="accordion__panel--content" v-html="post.content"></div>
					</div>
					</div>
			</div>
		</div>
		
	</section>
</section>
<footer></footer>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="dist/js/display-datalist.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- Custom js -->
<script src="dist/js/all.min.js"></script>
</body>
</html>
